.language-switcher {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--button-background);
    border: 1px solid var(--text-color);
}

.lang-button {
    flex: 1;
    padding: 5px 10px;
    border: none;
    background: none;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.lang-button.active {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}
